<launch>
  <param name="/use_sim_time" value="true" />

    <arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <arg name="map_name" default="lab5916_map_3bound" doc="The name of the xacro file with the duckietown map "/>
    <arg name="gui" default="true" /> <!--rviz-->
    <arg name="rviz_config" default="rviz_default"/>
    <arg name="init_pose" value="-x 1.5 -y 1.6 -z 0" />
    <arg name="gazebo" value="true" />
     <group ns="$(arg veh)">
        <node if="$(arg gui)" name="rviz" pkg="rviz" type="rviz" args="-d $(find duckietown_description)/rviz/$(arg rviz_config).rviz" />
    </group>

  <!-- start world --> 
  <include if="$(arg gazebo)" file="$(find gazebo_ros)/launch/empty_world.launch"> 
     <!--arg name="world_name" value="$(find duckietown_description)/urdf/duckietown.world"/-->
  </include>





    <!-- The duckietown map state publisher-->
	 <param name="map_description" command="$(find xacro)/xacro.py '$(find 		duckietown_description)/urdf/$(arg map_name).urdf.xacro'" /> 

 	<node name="map_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
        	<remap from="robot_description" to="map_description" />
   	</node>
 	<node if="$(arg gazebo)" name="spawn_town" pkg="gazebo_ros" type="spawn_model" 
	args="-param map_description -urdf -model town"  respawn="false" output="screen"/>

 <group ns="$(arg veh)">
 	<param name="duckiebot_description" command="$(find xacro)/xacro.py '$(find duckietown_description)/urdf/duck.xacro'" /> 
	<param name="tf_prefix" value="$(arg veh)" />
	<node name="duckiebot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
     	<remap from="robot_description" to="duckiebot_description" />
	</node>
  	<node if="$(arg gazebo)"  name="spawn_duckie" pkg="gazebo_ros" type="spawn_model" 
		args="$(arg init_pose) -urdf -param duckiebot_description -model $(arg veh)"  respawn="false" output="screen"/>
    	

 </group>

</launch>
